name: Build and deploy Python app

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version from pyproject.toml
        id: get_version
        run: |
          echo "version=$(grep -E '^\[tool\.poetry\]$' -A 4 pyproject.toml | grep -E '^version' | sed 's/version = "//;s/"$//')" >> $GITHUB_OUTPUT

      - name: Get short SHA
        id: slug
        run: echo "sha=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.slug.outputs.sha }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.get_version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: production
      url: https://t.me/tt_dwnldr_bot

    permissions:
      contents: none

    steps:
      - name: Deploy by SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.5
        env:
          CONTAINER_NAME: ${{ github.event.repository.name }}
          CONTAINER_PATH: /opt/docker_containers/${{ github.event.repository.name }}
          IMAGE_NAME: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          FULL_IMAGE_NAME: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          CR_PAT: ${{ secrets.CR_PAT }}
          CR_USER: ${{ secrets.CR_USER }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script_stop: true
          envs: CONTAINER_NAME,CONTAINER_PATH,IMAGE_NAME,FULL_IMAGE_NAME,CR_PAT,CR_USER
          script: |
            whoami
            mkdir -p $CONTAINER_PATH
            cd $CONTAINER_PATH
            mkdir -p data config
            echo $CR_PAT | docker login ghcr.io -u $CR_USER --password-stdin
            docker stop $CONTAINER_NAME || echo "Nothing to stop"
            docker rm $CONTAINER_NAME || echo "Nothing to remove from containers"
            docker rmi $(docker images --filter=reference="$IMAGE_NAME:*" -q) || \
              echo "Nothing to remove from images"
            docker run \
              -d \
              --name $CONTAINER_NAME \
              --restart=unless-stopped \
              --volume $CONTAINER_PATH/config:/config \
              --volume $CONTAINER_PATH/data:/data \
              $FULL_IMAGE_NAME
            docker ps -a
